<!--==================================================

Date: 04-24-2018
Author: Joseph Davis
Project: mega-project-hub

===================================================-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>mega-project-hub</title>

<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>

<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

<!-- SweetAlert2 -->
    <script type="text/javascript" src="js/sweetalert2.min.js"></script>

<!-- SimpleGrid -->
    <link rel="stylesheet" type="text/css" href="css/simplegrid.css">

<!-- CSS File -->
	<link rel="stylesheet" type="text/css" href="css/refMain.css">
</head>

<body>
	<div id="container" class="grid">
		<div class="hide-on-mobile">
			<div id="aboutMe" class="col-1-1">
				<div id="mePicture" class="col-1-2">
					<div id="picFrameOuter">
						<div id="picFrameMiddle">
							<div id="picFrameInner">
								<!-- <img src="images/me.jpg" alt="Classy Picture of Joe Davis"> -->
							</div>
						</div>
					</div>
				</div>
				<div id="meContent" class="col-1-2">
					<div class="col-1-12"></div>
					<div class="col-10-12">
						"Joe is the coolest and he is great at coding!"
						<br>
						- someone, probably
						<br><br><br>
						Reference <a href="http://jservice.io/" target="_blank">http://jservice.io/</a> for a header idea
					</div>
					<div class="col-1-12"></div>
				</div>
			</div>

			<div class="col-1-12"></div>
			<div id="desk" class="col-10-12">
				<div id="deskComputer" class="col-2-3">
					<div class="screen">
						<div id="screenStickyNote">
							<span><b>1)</b> Turn On PC</span>
							<br>
							<span><b>2)</b> Select Project</span>
						</div>
						<iframe id="screenFrame" style="display:none;" v-bind:src="session.selectedProject.folder" frameborder="0" v-show="session.showComputerScreen == 1"></iframe>
					</div>
					<div class="stand">
						<div class="button" v-cloak>
							<p class="textAlignCenter off" v-show="session.showComputerScreen == 0" @click="session.showComputerScreen = 1"></p>
							<p class="textAlignCenter on" v-show="session.showComputerScreen == 1" @click="session.showComputerScreen = 0"></p>
						</div>
					</div>
				</div>

				<div class="col-1-12"></div>

				<div id="deskBoard" class="col-3-12">
					<div class="board">
						<div class="content textAlignCenter">
							<ul id="projectList">
								<u>Project Demos:</u>
								<li v-cloak class="project" v-for="project in Projects" @click="ProjectSelect(project)"><span>{{project.name}}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-12"></div>

			<div id="deskTable" class="col-1-1">
				<div class="top col-1-1"></div>
				<div class="col-1-1">
					<div class="col-1-12"></div>
					<div class="leg col-1-12"></div>
					<div class="col-8-12"></div>
					<div class="leg col-1-12"></div>
					<div class="col-1-12"></div>
				</div>
			</div>

			<div id="aboutWork" class="col-1-1">
				<div id="workBoardBorder" class="col-1-1">
					<div id="workBoard" class="col-1-1">
						<div class="resume">
							<a>Click To Download Resume</a>
						</div>
						<div v-cloak class="job" v-for="job in Jobs" v-bind:style="job.style" @click="JobClicked(job)">
							<div class="tack"></div>
							<p class="sml">Role:</p>
							<p class="title">{{job.title}}</p>
							<p class="sml">Employer:</p>
							<p class="employer">{{job.employer}}</p>
							<p class="sml">Duration:</p>
							<p class="length">{{job.length}} months</p>
						</div>
					</div>
				</div>
			</div>

			<div id="aboutSkills" class="col-1-1">
				<div class="col-3-12"></div>
				<div id="fridge" class="col-6-12">
					<div id="fridgeFreezer" class="col-1-1">
						<div class="handle"></div>
						<div id="skillSelector">
							<div id="skillBox" class="skillBoxEmpty">
								<div id="waterButton" class="textAlignCenter">Drag Skill Here</div>
							</div>
						</div>
						<div v-cloak id="skillDisplay" v-show="session.selectedSkill.name != null">
							<span>
								<a v-bind:href="session.selectedSkill.link" target="_blank">{{session.selectedSkill.name}}</a>
							</span>
						</div>
						<div v-cloak class="col-1-1 textAlignCenter words">
							<div class="col-1-1 word">
								<span v-for="letter in 'Skill'"><span class="letter">{{letter}}</span>&nbsp;</span>
								&nbsp;
								<span v-for="letter in 'Magnets'"><span class="letter">{{letter}}</span>&nbsp;</span>
							</div>
						</div>
					</div>
					<div id="fridgeFridge" class="col-1-1">
						<div class="handle"></div>
						<div v-cloak class="col-1-2">
							<div class="fridgeImage" v-for="(skill, index) in Skills" v-bind:style="skill.style" v-if="index < 7" @click="CheckSkill(event, skill)">
								<img v-bind:src="skill.image" v-bind:alt="skill.name" v-bind:title="skill.name" v-bind:id="skill.name" height="40px" width="40px">
							</div>
						</div>
						<div v-cloak class="col-1-2">
							<div class="fridgeImage" v-for="(skill, index) in Skills" v-bind:style="skill.style" v-if="index > 6" @click="CheckSkill(event, skill)">
								<img v-bind:src="skill.image" v-bind:alt="skill.name" v-bind:title="skill.name" v-bind:id="skill.name" height="40px" width="40px">
							</div>
						</div>
						<div id="fridgeOpen" style="display: none;" v-show="session.selectedSkill.name != null">
							<div id="fridgeOpenDoor" class="col-1-12 fridgeSection">
								<div id="fridgeOpenDoorHandle"></div>
							</div>
							<div class="col-11-12 fridgeSection">
								<div class="col-10-12 shelve"></div>
								<div class="col-10-12 shelve"></div>
								<div class="col-10-12 shelve"></div>
								<div class="col-10-12 shelve">
									<div class="shelveLeft"></div>
									<div class="shelveRight"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3-12"></div>
			</div>

			<div id="feedback" class="col-1-1">
				<p>Thanks for stopping by!</p>
				<!-- <p>Constructive criticism provides all the benefits of failure without all the bad parts.</p>
				<p>If you have an urge to share some constructive criticism, I'd truly like to hear your ideas!</p>
				<textarea name="feedbackInput" id="feedbackInput" cols="30" rows="10"></textarea> -->
			</div>
		</div>

		<div class="show-on-mobile">
			<br>
			<br>
			<br>
			<img src="images/under_construction.gif" alt="Under Constriction GIF" style="box-shadow: 0 0 10px 3px red;">
			<br><br><br>
			<div id="mobileProjects">
				Projects:
				<div class="mobProj" v-for="project in Projects">{{project.name}}</div>
			</div>
			<br>
			<br>
			<div id="mobileJobs">
				Jobs:
				<div class="mobJob" v-for="job in Jobs">{{job.employer}}</div>
			</div>
			<br>
			<br>
			<div id="mobileSkills">
				Skills:
				<div class="mobSkil" v-for="skill in Skills">{{skill.name}}</div>
			</div>
		</div>
	</div>

	<span id="printSpan" class="textAlignCenter" hidden><br><br><br><br><br><br>☠️&nbsp;&nbsp;&nbsp;Don't Print My Website&nbsp;&nbsp;&nbsp;☠️<br><br>👽</span>


<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<!-- Vue.js -->
    <!-- <script type="text/javascript" src="js/vue2.min.js"></script> -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>

<!-- Lodash -->
    <script src="js/lodash.min.js"></script>

<!-- JS File -->
	<script type="text/javascript" src="js/refMain.js"></script>
</body>

</html>