<!--==================================================

Date: 04-24-2018
Author: Joseph Davis
Project: mega-project-hub

===================================================-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>mega-project-hub</title>

<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>

<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">

<!-- SweetAlert2 -->
    <script type="text/javascript" src="js/sweetalert2.min.js"></script>

<!-- SimpleGrid -->
    <link rel="stylesheet" type="text/css" href="css/simplegrid.css">

<!-- CSS File -->
	<link rel="stylesheet" type="text/css" href="css/refMain.css">
</head>

<body>
	<div id="container" class="grid">
		<div class="hide-on-mobile">
			<div id="aboutMe" class="col-1-1">
				<div class="col-1-12"></div>
				<h2 class="secHeader col-10-12">Who is Joe Davis?</h2>
				<div class="col-1-12"></div>
				<div id="mePicture" class="col-1-2">
					<div id="picFrameOuter">
						<div id="picFrameMiddle">
							<div id="picFrameInner">
								<img id="picMe" width="380px" height="480px">
							</div>
						</div>
					</div>
				</div>
				<div id="meContent" class="col-1-2">
					<div class="col-1-12"></div>
					<div class="col-10-12">
						"Joe is the coolest and he is great at coding!"
						<br>
						- someone, probably
						<br><br><br>
						Reference <a href="http://jservice.io/" target="_blank">http://jservice.io/</a> for a header idea
					</div>
					<div class="col-1-12"></div>
				</div>
			</div>

			<div class="col-1-12"></div>
			<div id="desk" class="col-10-12">
				<h2 class="secHeader">What does Joe do?</h2>
				<div id="deskComputer" class="col-2-3">
					<div id="screenStickyNote">
						<span><b>1)</b> Turn On PC</span>
						<br>
						<span><b>2)</b> Select Project</span>
					</div>
					<div class="screen">
						<!-- WORK IN PROGRESS -->
						<!--<div id="screenContainer" class="col-1-1" v-show="session.showComputerScreen == 1" v-cloak>
							<div id="screenContent" class="col-1-1">
								<div id="screenNav" class="col-1-1">
									<div id="screenNavBar" class="col-10-12">&nbsp;</div>
									<div id="screenNavButton" class="col-2-12 textAlignCenter">
										<div id="screenNavButtonMin" class="col-1-2">-</div>
										<div id="screenNavButtonExit" class="col-1-2">X</div>
									</div>
								</div>
								<div class="col-1-12"></div>
								<div id="screenContentProject" class="col-11-12">
									<p class="name col-9-12">
										<span class="left col-2-12">Project: </span>
										<span class="col-1-12"></span>
										<span class="right col-8-12">{{session.selectedProject.name}}</span>
										<div class="col-1-12 buttonContainer">
											<a v-bind:href="session.selectedProject.folder" target="_blank" tabindex="2">
												<img class="button" src="images/newTab.png" alt="Open in new tab">
											</a>
										</div>
									</p>
									<p class="date col-1-1">{{session.selectedProject.date}}</p>
								</div>
								<div class="col-1-1 screenshot" v-for="(shot, index) in session.selectedProject.screenshots">
									<p>Screenshot #{{index + 1}}</p>
									<img v-bind:src="shot.file" alt="Project Screenshot">
								</div>
								<div id="screenContentShot1" class="col-1-1 screenshot">
									<p>Screenshot #1</p>
									<img v-bind:src="session.selectedProject.shot1" alt="Project Screenshot #1">
								</div>
								<div id="screenContentShot2" class="col-1-1 screenshot">
									<p>Screenshot #2</p>
									<img v-bind:src="session.selectedProject.shot2" alt="Project Screenshot #2">
								</div>
								<div id="screenContentShot3" class="col-1-1 screenshot">
									<p>Screenshot #3</p>
									<img v-bind:src="session.selectedProject.shot3" alt="Project Screenshot #3">
								</div>
							</div>
						</div> -->
						<iframe id="screenFrame" style="display:none;" v-bind:src="session.selectedProject.folderDemo" frameborder="0" v-show="session.showComputerScreen == 1"></iframe>
					</div>
					<div class="stand">
						<div class="button" v-cloak>
							<p class="textAlignCenter off" v-show="session.showComputerScreen == 0" @click="session.showComputerScreen = 1; session.selectedProject = Projects[0]"></p>
							<p class="textAlignCenter on" v-show="session.showComputerScreen == 1" @click="session.showComputerScreen = 0"></p>
						</div>
					</div>
				</div>

				<div class="col-1-12"></div>

				<div id="deskBoard" class="col-3-12">
					<div class="board">
						<div class="content textAlignCenter">
							<ul id="projectList">
								<u>Project Demos:</u>
								<li v-cloak class="project" v-for="project in Projects" @click="ProjectSelect(project)" @keyup.enter="ProjectSelect(project)" tabindex="1"><span>{{project.name}}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-12"></div>

			<div id="deskTable" class="col-1-1">
				<div class="top col-1-1"></div>
				<div class="col-1-1">
					<div class="col-1-12"></div>
					<div class="leg col-1-12"></div>
					<div class="col-8-12"></div>
					<div class="leg col-1-12"></div>
					<div class="col-1-12"></div>
				</div>
			</div>
			
			<div class="col-1-12"></div>
			<div id="aboutWork" class="col-10-12">
				<h2 class="secHeader">Where has Joe worked?</h2>
				<div id="workBoardBorder" class="col-1-1">
					<div id="workBoard" class="col-1-1">
						<div class="resume">
							<a>Click To Download Resume</a>
						</div>
						<div v-cloak class="job" v-for="job in Jobs" v-bind:style="job.style" @click="JobClicked(job)">
							<div class="tack"></div>
							<p class="sml">Role:</p>
							<p class="title">{{job.title}}</p>
							<p class="sml">Employer:</p>
							<p class="employer">{{job.employer}}</p>
							<p class="sml">Duration:</p>
							<p class="length">{{job.length}} months</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-12"></div>

			<div id="aboutSkills" class="col-1-1">
				<div class="col-1-12"></div>
				<h2 class="secHeader col-10-12">What are Joe's skills?</h2>
				<div class="col-1-12"></div>
				<div class="col-3-12"></div>
				<div id="fridge" class="col-6-12">
					<div id="fridgeFreezer" class="col-1-1">
						<div class="handle"></div>
						<div id="skillSelector">
							<div id="skillBox" class="skillBoxEmpty">
								<div id="waterButton" class="textAlignCenter">Drag Skill Here</div>
							</div>
						</div>
						<div v-cloak id="skillDisplay" v-show="session.selectedSkill.name != null">
							<span>
								<a v-bind:href="session.selectedSkill.link" target="_blank">{{session.selectedSkill.name}}</a>
							</span>
						</div>
						<div v-cloak class="col-1-1 textAlignCenter words">
							<div class="col-1-1 word">
								<span v-for="letter in 'Skill'"><span class="letter">{{letter}}</span>&nbsp;</span>
								&nbsp;
								<span v-for="letter in 'Magnets'"><span class="letter">{{letter}}</span>&nbsp;</span>
							</div>
						</div>
					</div>
					<div id="fridgeFridge" class="col-1-1">
						<div class="handle"></div>
						<div v-cloak class="col-1-2">
							<div class="fridgeImage" v-for="(skill, index) in Skills" v-bind:style="skill.style" v-if="index < 7" @click="CheckSkill(event, skill)">
								<img v-bind:src="skill.image" v-bind:alt="skill.name" v-bind:title="skill.name" v-bind:id="skill.name" height="40px" width="40px">
							</div>
						</div>
						<div v-cloak class="col-1-2">
							<div class="fridgeImage" v-for="(skill, index) in Skills" v-bind:style="skill.style" v-if="index > 6" @click="CheckSkill(event, skill)">
								<img v-bind:src="skill.image" v-bind:alt="skill.name" v-bind:title="skill.name" v-bind:id="skill.name" height="40px" width="40px">
							</div>
						</div>
						<div id="fridgeOpen" style="display: none;" v-show="session.selectedSkill.name != null">
							<div id="fridgeOpenDoor" class="col-1-12 fridgeSection">
								<div id="fridgeOpenDoorHandle"></div>
							</div>
							<div class="col-11-12 fridgeSection">
								<div class="col-10-12 shelve"></div>
								<div class="col-10-12 shelve"></div>
								<div class="col-10-12 shelve"></div>
								<div class="col-10-12 shelve">
									<div class="shelveLeft"></div>
									<div class="shelveRight"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3-12"></div>
			</div>

			<div id="feedback" class="col-1-1">
				<p>Thanks for stopping by!</p>
			</div>
		</div>

		<div class="show-on-mobile">
			<br>
			<br>
			<br>
			<img src="images/under_construction.gif" alt="Under Constriction GIF" style="box-shadow: 0 0 10px 3px red;">
			<br><br><br>
			<div id="mobileProjects">
				Projects:
				<div class="mobProj" v-for="project in Projects">{{project.name}}</div>
			</div>
			<br>
			<br>
			<div id="mobileJobs">
				Jobs:
				<div class="mobJob" v-for="job in Jobs">{{job.employer}}</div>
			</div>
			<br>
			<br>
			<div id="mobileSkills">
				Skills:
				<div class="mobSkil" v-for="skill in Skills">{{skill.name}}</div>
			</div>
		</div>

		<!-- LinkedIn -->
		<!-- https://www.linkedin.com/badges/profile/create?vanityname=joseph-davis-087ba2b2&trk=profile-badge-public-profile -->
		<div id="secLinkedIn" class="col-1-1">
			<div class="col-1-2">
				<div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="joseph-davis-087ba2b2">
					<a class="LI-simple-link" href='https://www.linkedin.com/in/joseph-davis-087ba2b2?trk=profile-badge'>Joseph Davis</a>
				</div>
			</div>
			<div class="col-1-2">
				<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="joseph-davis-087ba2b2">
					<a class="LI-simple-link" href='https://www.linkedin.com/in/joseph-davis-087ba2b2?trk=profile-badge'>Joseph Davis</a>
				</div>
			</div>
			<div class="col-1-2">
				<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="joseph-davis-087ba2b2">
					<a class="LI-simple-link" href='https://www.linkedin.com/in/joseph-davis-087ba2b2?trk=profile-badge'>Joseph Davis</a>
				</div>
			</div>
			<div class="col-1-2">
				<div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="joseph-davis-087ba2b2">
					<a class="LI-simple-link" href='https://www.linkedin.com/in/joseph-davis-087ba2b2?trk=profile-badge'>Joseph Davis</a>
				</div>
			</div>
		</div>
	</div>

	<span id="printSpan" class="textAlignCenter" hidden><br><br><br><br><br><br>☠️&nbsp;&nbsp;&nbsp;Don't Print My Website&nbsp;&nbsp;&nbsp;☠️<br><br>👽</span>


<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<!-- Vue.js -->
    <!-- <script type="text/javascript" src="js/vue2.min.js"></script> -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>

<!-- Lodash -->
    <!-- <script src="js/lodash.min.js"></script> -->

<!-- JS File -->
	<script type="text/javascript" src="js/refMain.js"></script>

<!-- LinkedIn -->
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</body>

</html>