<!--==================================================

Date: 03-6-2018
Author: Joseph Davis
Project: www.migunshows.com - REMAKE

===================================================-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Events Admin Page</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="files/images/Favicon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pompiere" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Pretty Checkbox -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

    <!-- SimpleGrid -->
    <link rel="stylesheet" type="text/css" href="css/simplegrid.css">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/Admin.css">
</head>

<body>
    <div id="container" class="grid">
        <div class="col-1-1 textAlignCenter siteHeader">
            <h1>Admin Page</h1>
            <h3>Event and Image Manager</h3>
        </div>

        <div id="navBar" class="grid textAlignCenter">
            <div class="col-1-1"><a class="noDec" href="index.html">Home</a></div>
        </div>

        <div class="grid">
            <div id="eventManage" class="col-1-1 textAlignCenter">
                <h4>Manage Events:</h4>
                
                <div class="col-1-12"></div>

                <div class="col-10-12">
                    <table id="eventsManageTable">
                        <thead>
                            <tr>
                                <th>Edit</th>
                                <th>Name</th>
                                <th>Building</th>
                                <th class="hide-on-mobile">Address</th>
                                <th>City</th>
                                <th class="hide-on-mobile">Begin Date</th>
                                <th class="hide-on-mobile">End Date</th>
                                <th class="hide-on-mobile">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-cloak class="listEvents" v-for="event in orderedEvents_Vue">
                                <td>
                                    <div id="btnDelete" class="col-1-3" @click="deleteEvent(event)">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg class="btnEvent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" version="1.1" width="20px"
                                            height="20px">
                                            <g id="surface1">
                                                <path d="M 42 5 L 32 5 L 32 3 
                                                C 32 1.347656 30.652344 0 29 0 
                                                L 21 0 C 19.347656 0 18 1.347656 
                                                18 3 L 18 5 L 8 5 C 7.449219 5 7 
                                                5.449219 7 6 C 7 6.550781 7.449219 
                                                7 8 7 L 9.085938 7 L 12.695313 
                                                47.515625 C 12.820313 48.90625 
                                                14.003906 50 15.390625 50 L 
                                                34.605469 50 C 35.992188 50 
                                                37.175781 48.90625 37.300781 
                                                47.515625 L 40.914063 7 L 42 
                                                7 C 42.554688 7 43 6.550781 
                                                43 6 C 43 5.449219 42.554688 5 
                                                42 5 Z M 20 44 C 20 44.554688 
                                                19.550781 45 19 45 C 18.449219 
                                                45 18 44.554688 18 44 L 18 11 C 
                                                18 10.449219 18.449219 10 19 10 
                                                C 19.550781 10 20 10.449219 20 
                                                11 Z M 20 3 C 20 2.449219 
                                                20.449219 2 21 2 L 29 2 C 
                                                29.550781 2 30 2.449219 30 
                                                3 L 30 5 L 20 5 Z M 26 44 C 
                                                26 44.554688 25.550781 45 25 
                                                45 C 24.449219 45 24 44.554688 
                                                24 44 L 24 11 C 24 10.449219 
                                                24.449219 10 25 10 C 25.550781 
                                                10 26 10.449219 26 11 Z M 32 44 
                                                C 32 44.554688 31.554688 45 31 
                                                45 C 30.445313 45 30 44.554688 
                                                30 44 L 30 11 C 30 10.449219 
                                                30.445313 10 31 10 C 31.554688 
                                                10 32 10.449219 32 11 Z"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="col-1-3 hide-on-mobile"></div>
                                    <div id="btnEdit" class="col-1-3" @click="editEvent(event)">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg class="btnEvent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" version="1.1" width="20px"
                                            height="20px">
                                            <g id="surface1">
                                                <path d="M 20.09375 0.25 C 
                                                19.5 0.246094 18.917969 0.457031 
                                                18.46875 0.90625 L 17.46875 
                                                1.9375 L 24.0625 8.5625 L 
                                                25.0625 7.53125 C 25.964844 
                                                6.628906 25.972656 5.164063 
                                                25.0625 4.25 L 21.75 0.9375 
                                                C 21.292969 0.480469 20.6875 
                                                0.253906 20.09375 0.25 Z M 
                                                16.34375 2.84375 L 14.78125 
                                                4.34375 L 21.65625 11.21875 
                                                L 23.25 9.75 Z M 13.78125 
                                                5.4375 L 2.96875 16.15625 C 
                                                2.71875 16.285156 2.539063 
                                                16.511719 2.46875 16.78125 L 
                                                0.15625 24.625 C 0.0507813 
                                                24.96875 0.144531 25.347656 
                                                0.398438 25.601563 C 0.652344 
                                                25.855469 1.03125 25.949219 
                                                1.375 25.84375 L 9.21875 
                                                23.53125 C 9.582031 23.476563 
                                                9.882813 23.222656 10 22.875 
                                                L 20.65625 12.3125 L 19.1875 
                                                10.84375 L 8.25 21.8125 L 3.84375 
                                                23.09375 L 2.90625 22.15625 
                                                L 4.25 17.5625 L 15.09375 6.75 
                                                Z M 16.15625 7.84375 L 5.1875 
                                                18.84375 L 6.78125 19.1875 L 
                                                7 20.65625 L 18 9.6875 Z"/>
                                            </g>
                                        </svg>
                                    </div>
                                </td>
                                <td @click="EventPopUp(event)">{{event.name}}</td>
                                <td @click="EventPopUp(event)">{{event.building}}</td>
                                <td class="hide-on-mobile" @click="EventPopUp(event)">{{event.address}}</td>
                                <td @click="EventPopUp(event)">{{event.city}}</td>
                                <td class="hide-on-mobile" @click="EventPopUp(event)">{{event.beginDate.month}}-{{event.beginDate.day}}</td>
                                <td class="hide-on-mobile" @click="EventPopUp(event)">{{event.endDate.month}}-{{event.endDate.day}}</td>
                                <td class="hide-on-mobile" @click="EventPopUp(event)">${{event.cost}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="col-1-12"></div>
            </div>

            <div class="divHR">
                <div class="col-2-12"></div>
                <div class="col-8-12"><hr></div>
                <div class="col-2-12"></div>
            </div>

            <div id="eventAdd" class="col-1-1">
                <div class="col-1-1 textAlignCenter">
                    <h4>Add An Event:</h4>

                    <div class="col-1-3"></div>

                    <div class="col-1-3">
                        <input class="col-1-1 inputField isRequired" type="text" v-model="newEventData.name" placeholder="Name"/>
                        <input class="col-1-1 inputField isRequired" type="text" v-model="newEventData.building" placeholder="Building"/>
                        <input class="col-1-1 inputField isRequired" type="text" v-model="newEventData.address" placeholder="Address"/>
                        <input class="col-1-1 inputField isRequired" type="text" v-model="newEventData.city" placeholder="City"/>
                        <input class="col-1-1 inputField isRequired" type="text" id="datePickerBegin" v-model="newEventData.beginDate" placeholder="mm/dd/yyyy"/>
                        <input class="col-1-1 inputField isRequired" type="text" id="datePickerEnd" v-model="newEventData.endDate" placeholder="mm/dd/yyyy"/>
                        <input class="col-1-1 inputField isRequired" type="number" min ="0" v-model="newEventData.cost" placeholder="Cost"/>
                        <select class="col-1-1 inputField isRequired" name="imagePicker" id="imagePicker" v-model="newEventData.image">
                            <option value=""></option>
                            <option v-for="img in Images_Vue" v-bind:value="img.url">{{img.location}}</option>
                        </select>
                        <textarea class="col-1-1 inputField" type="text" v-model="newEventData.notes" placeholder="Notes" cols="40" rows="5" maxlength="200"></textarea>
                        <button @click="addEvent(newEventData)">Add Event</button>
                    </div>

                    <div class="col-1-3"></div>
                </div>
            </div>
        </div>

        <div class="divHR">
            <div class="col-2-12"></div>
            <div class="col-8-12"><hr></div>
            <div class="col-2-12"></div>
        </div>
        
        <div class="col-1-1">
            <div class="grid textAlignCenter">
                <div class="col-1-1">
                    <h4 class="textAlignCenter">Upload Event Images:</h4>
                </div>

                <div class="col-1-1">
                    <span id="uploadComplete"></span>
                    <progress value="0" max="100" id="uploader"></progress>
                    <br><br>
                    <input type="file" value="Choose File" id="uploadButton" @change="fileUpload">
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <!-- jQuery -->
    <script 
        src="https://code.jquery.com/jquery-3.3.1.min.js" 
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
        crossorigin="anonymous">
    </script>

    <!-- SweetAlert2 -->
    <script type="text/javascript" src="https://unpkg.com/sweetalert2@7.15.1/dist/sweetalert2.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <!-- Vue.js -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>

    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <!-- Lodash -->
    <script src="js/lodash.min.js"></script>

    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Admin.js -->
    <script src="js/Admin.js"></script>
</body>
</html>