/*==================================================

Date: 02-23-2017
Author: Joseph Davis
Project: Terminal Website

Page .css is for: index.html

// Color Palette
	// Background
		// https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.001,0.001,0.001,0.16822208469610958,0.25340049832087536,0.20545415857610896,0.1843137254901961,0.23921568627450981,0.2901960784313726,0.21115544671508915,0.16822208469610958,0.25340049832087536,0.2901960784313726,0.19264914476428874,0.1926491447644218&swatchOrder=0,1,2,3,4
	// Text
		// https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.29674074716441373,0.2593473767885533,0.7108039215686275,0.9632044198895028,0.8734369307695061,0.02766650993299637,0,1,0,0.02766650993299637,0.8929934851262177,0.9632044198895028,0.10917257683178383,0.028723404255319274,1&swatchOrder=0,1,2,3,4

==================================================*/


@font-face { font-family: inconsolata; src: url('../files/fonts/Inconsolata-Regular.ttf'); } 
@font-face { font-family: inconsolataBold; font-weight: bold; src: url('../files/fonts/Inconsolata-Bold.ttf');}


body {
	background-color: #2f3d4a;
}

/* Text Aligns */
	.textAlignCenter {
		text-align: center;
	}
	.textAlignLeft {
		text-align: left;
	}
	.textAlignRight {
		text-align: right;
	}

/* Vue.js */
	[ v-cloak ] {
		display: none;
	}

/* Input and Output Fields */
	#mainTextOutput {
		margin-top: 20px;
	}
	#mainTextInput {
		margin-top: 20px;
	}
	#mainTextHelp {
		margin-top: 20px;
	}
	#inputConsoleText {
		position: relative;
		background-color: #303030;
		cursor: text;
		overflow: auto;
		white-space: pre-wrap;
		resize: none;
		height: 40px;
		border: 2px solid gray;
		font-size: 15px;
		font-family: monospace;
		color: rgb(0, 255, 0);
		text-align: center;
	}
	#outputConsoleText {
		padding: 10px 10px 10px 15px;
		position: relative;
		background-color: #303030;
		cursor: text;
		overflow: auto;
		white-space: pre-wrap;
		resize: none;
		height: 250px;
		border: 2px solid gray;
		font-size: 12px;
		font-family: inconsolata, monospace;
		color: rgb(0, 255, 0);
	}
	#helpDock {
		padding: 8px 25px 20px 25px;
		position: relative;
		background-color: #303030;
		overflow: auto;
		white-space: pre-wrap;
		resize: none;
		height: 200px;
		border: 2px solid grey;
		border-radius: 8px;
		font-size: 15px;
		font-family: monospace;
		color: rgb(0, 255, 0);
	}
	#helpDock p {
		height: 1rem;
		margin: 0;
	}
	#helpDockClose {
		width: 1.2rem;
		height: 1.2rem;
		position: absolute;
		top: 6px;
		right: 6px;
		text-align: center;
  		vertical-align: middle;
		border: 1px solid gray;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	}
	#helpDockClose:hover {
		background-color: rgba(85, 255, 122, 0.8);
		box-shadow: inset 0 0 0 rgba(4, 145, 34,0.5), 0 0 1.5em rgba(4, 145, 34,0.7);
		color: black;
	}

/* Custom Scroll Bar */
	#outputConsoleText::-webkit-scrollbar {
		width: 10px;
		background-color: rgba(245, 245, 245, 0);
	}
	#outputConsoleText::-webkit-scrollbar-track {
		background: gray;
	}
	#outputConsoleText::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgb(0, 200, 0);
		border: 1px solid #aaa;
	}
	#outputConsoleText::-webkit-scrollbar-thumb:hover {
		background: rgb(0, 240, 0);
		border: 1px solid rgb(0, 180, 0);
	}
	#outputConsoleText::-webkit-scrollbar-thumb:active {
		background: linear-gradient(left, #22ADD4, #1E98BA);
	}

/* SimpleGrid Fixes */
	[class*='col-'] {
		padding-right: 0;
	}

/* Login Marquee */
	#signInBanner {
		display: none;
		position: fixed;
		height: 10%;
		width: 400px;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-left: -110px;
		margin-top: 16px;
		padding-top: 20px;
	}
	#signInBanner marquee{
		color: orange;
		font-size: 40px;
	}

/* Login Popup */
	#frmLogin {
		width: 10%;
		height: 200px;
		margin-top: 200px;
		margin-left: 45%;
		background-color: #585858;
		border-radius: 3px;
		box-shadow: 0px 0px 10px 0px rgb(0, 255, 0);
		padding: 10px;
		box-sizing: border-box;
		font-family: helvetica;
		display: none;
		position: fixed;
		z-index: 99;
	}
	#logUser {
		width: 80%;
		height: 25px;
		border: 2px solid silver;
		border-radius: 3px;
		padding: 5px;
	}
	#logPass {
		-webkit-text-security: disc;
		margin-top: 6px;
		width: 80%;
		height: 25px;
		border: 2px solid silver;
		border-radius: 3px;
		padding: 5px;
	}
	#logLogin {
		margin-left: -5px;
		margin-top: 10px;
		width: 30%;
		height: 30px;
		border: none;
		border-radius: 3px;
		color: rgb(0, 255, 0);
		background-color: grey;
		font-size: 80%;
	}

/* Edit Popup */
	#frmEdit {
		width: 30%;
		height: 350px;
		margin-top: 200px;
		margin-left: 35%;
		background-color: #585858;
		border-radius: 3px;
		box-shadow: 0px 0px 10px 0px rgb(0, 255, 0);
		padding: 10px;
		box-sizing: border-box;
		font-family: helvetica;
		position: fixed;
		z-index: 1;
	}
	#editColorAll {
		display: inline-block;
		background-color: #7e7d7d;
		border: 1px solid black;
		border-radius: 4px;
		padding: 2%;
		width: 95%;
	}
	.editColorEach {
		float: left;
		width: 33%;
	}
	.editColorLabel {
		width: 100%;
		float: left;
		text-decoration: underline;
	}
	.sp-replacer {
		margin-top: 10px;
		width: 60px;
		background-color: #9c9797;
	}
	.sp-preview {
		width: 40px;
	}
	#editFontAll {
		margin-top: 10px;
		display: inline-block;
		background-color: #7e7d7d;
		border: 1px solid black;
		border-radius: 4px;
		padding: 2%;
		width: 95%;
	}
	.editFontEach {
		float: left;
		width: 50%;
	}
	
/* Matrix */
	canvas {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	
		position: fixed;
		border: 1px solid grey;
		height: 550px;
		background-color: #000000;
		cursor: pointer;
		z-index: 2;
	}
	#neo {
		position: fixed;
		z-index: 3;
		left: -600px;
		top: 130px;
	}

/* Half Fuller Buttons - https://codepen.io/half-fuller/pen/GJwVLP */
	.flex-grid-center {
		display: flex;
		justify-content: center;
	}
	.fuller-button {
		color: rgba(255,255,255,1);
		background: none;
		border-radius: 6px;
		padding: 0.8em;
		letter-spacing: 0.35em;
		font-size: 0.8em;
		transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
		cursor: pointer;
		text-align: center;
	}
	.fuller-button_green {
		box-shadow: inset 0 0 1em rgba(4, 145, 34, 0.5);
		background-color: #303030;
		border: 2px solid gray;
		color: rgb(0, 255, 0);
	}
	.fuller-button_green:hover {
		background-color: rgba(85, 255, 122, 0.8);
		box-shadow: inset 0 0 0 rgba(4, 145, 34,0.5), 0 0 1.5em rgba(4, 145, 34,0.7);
		color: black;
	}
	.fuller-button_blue {
		box-shadow: inset 0 0 1em rgba(0,170,170,0.5), 0 0 1em rgba(0,170,170,0.5);
		border: #0dd solid 2px;
	}
	.fuller-button_blue:hover {
		background-color: #0dd;
		box-shadow: inset 0 0 0 rgba(0,170,170,0.5), 0 0 1.5em rgba(0,170,170,0.7);
	}
	.fuller-button_red {
		box-shadow: inset 0 0 1em rgba(251,81,81,0.4), 0 0 1em rgba(251,81,81,0.4);
		border: #fb5454 solid 2px;
	}
	.fuller-button_red:hover {
		background-color: #fb5454;
		box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 1.5em rgba(251,81,81,0.6);
	}
	.fuller-button_white {
		box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
		border: #fff solid 2px;
	}
	.fuller-button_white:hover {
		color: rgba(0,0,0,0.8);
		background-color: #fff;
		box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.2em rgba(255,255,255,0.5);
	}

/* Print */
	@media print {
		#container {
			display: none;
		}
		#printSpan {
			display: block;
		}
	}